asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.6.16
chardet==3.0.4
cliapp==1.20170827
cmdtest==0.32
colorama==0.4.1
cryptography==2.1.4
decorator==4.4.0
Django==1.11.25
djangorestframework==3.9.4
enum34==1.1.6
filelock==3.0.12
gdown==3.8.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Markdown==2.6.9
mercurial==4.5.3
pathlib2==2.3.3
psutil==5.6.1
pycrypto==2.6.1
Pygments==2.4.2
pygobject==3.26.1
pyte==0.8.0
pytz==2019.3
pyxdg==0.26
PyYAML==3.12
requests==2.22.0
scandir==1.10.0
SecretStorage==2.3.1
six==1.12.0
thefuck==3.28
tqdm==4.32.2
ttystatus==0.38
urllib3==1.25.3
virtualenv==15.1.0
wcwidth==0.1.7
xlrd==1.2.0
